@import "reset";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$duration: 3.5s;
$timing-function: ease-in-out;

@mixin fade-in {
    animation: fade-in $duration $timing-function;
}

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px) !default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "Breakpoint #{$breakpoint} não encontrado na lista de breakpoints.";
    }
}

.fade-in {
    @include fade-in;
}

body {
    @include respond-to(xs) {
        font-size: 15px;
    }

    @include respond-to(sm) {
        font-size: 18px;
    }

    @include respond-to(md) {
        font-size: 20px;
    }

    @include respond-to(lg) {
        font-size: 22px;
    }

    @include respond-to(xl) {
        font-size: 24px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

$font-stack: Montserrat,
    Roboto;
$primary-color: #333;
$dark-color: black;

$plt-v8-a: white;
$plt-v8-b: #F8D33B;
$plt-v8-c: #2E2E2E;
$plt-v8-d: rgb(99, 97, 97
);
$plt-v8-e: black;

$plt-tech-a: #83b8aa;
$plt-tech-b: #ffb350;
$plt-tech-c: #ff6a5a;
$plt-tech-d: #b83564;
$plt-tech-e: #272d4d;

$plt-wood-a: #f8f2ce;
$plt-wood-b: #d8d989;
$plt-wood-c: #bdb495;
$plt-wood-d: #493d3f;
$plt-wood-e: #020202;

$font-v8-title: 'Montserrat', sans-serif;
$font-v8-subtitle: 'Open Sans', sans-serif;
$font-v8-text: 'Roboto', sans-serif;
$font-v8-list: 'Source Sans Pro', sans-serif;


::-webkit-scrollbar {
    width: 12px;
    min-height: 2px;
    max-height: 2px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: $plt-v8-c;
}

.bg-v8-a {
    background-color: $plt-v8-b;

    input {
        background: none;
    }
}

.bg-v8-b {
    background-color: $plt-v8-b;
}

.bg-v8-c {
    background-color: $plt-v8-c;
}

.bg-v8-d {
    background-color: $plt-v8-d;
}

.bg-v8-e {
    background-color: $plt-v8-e;
}

.bg-dark {
    background-color: $dark-color;
}

.p-5 {
    padding: 10px;
}

$font-base: 1em;

$heading1-size: $font-base * 2.5;
$heading2-size: $font-base * 1.8;
$heading3-size: $font-base * 1.4;
$heading4-size: $font-base * 1.0;
$heading5-size: $font-base * 0.8;
$paragraph-size: $font-base;
$list-item-size: $font-base;

h1 {
    font-size: $heading1-size;
    line-height: 1.2;
}

h2 {
    font-size: $heading2-size;
    line-height: 1.3;
}

h3 {
    font-size: $heading3-size;
    line-height: 1.4;
}

h4 {
    font-size: $heading4-size;
    line-height: 1.4;
}

h5 {
    font-size: $heading5-size;
    line-height: 1.4;
}

p {
    font-size: $paragraph-size;
    line-height: 1.6;
}

li {
    font: 100% $font-v8-list;
}

@keyframes animatePulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes animateLight {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.pulse-animation {
    animation: animatePulse 1s infinite alternate;
}

.light-animation {
    animation: rotate 5s linear infinite;
}

.v8 {
    header {
        div {
            background-color: $plt-v8-e;
            color: $plt-v8-a;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
        }

        .pick-language-box {
            padding: 15px;
            width: 35%;

            label {
                p {
                    margin: 1em 1em 1em 1em;
                }
            }
        }

        select {
            width: 200px;
            /* Define a largura do select */
            padding: 10px;
            /* Adiciona um preenchimento interno */
            border: 2px solid $plt-v8-a;
            /* Adiciona uma borda */
            background: none;
            /* Define a cor de fundo */
            color: $plt-v8-b;
            /* Define a cor do texto */
            font-size: 16px;
            /* Define o tamanho da fonte */
        }

        select::after {
            content: '\25BC';
            /* Código Unicode para uma seta para baixo */
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }

        option {
            background-color: $plt-v8-d;
            padding: 2em;
            /* Define a cor de fundo dos options */
            color: $plt-v8-b;
            /* Define a cor do texto dos options */
        }
        

        nav {
            padding: 0.5em;
            @include respond-to(xs) {
                width: 65%;
            }
            @include respond-to(sm) {
                
            }
    
            @include respond-to(md) {
            }
    
            @include respond-to(lg) {
                width: 20%;
            }
    
            @include respond-to(xl) {
            }
            
            width: 100%;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1.5em;

                li {
                    color: $plt-v8-d;
                    font-size: 1.5em;
                }
            }
        }
    }

    .personal-info {

        @include respond-to(xs) {
            font-size: 16px;

            img {
                max-width: 100%;
            }

            .info-container {
                width: 80%;
                margin: 5% 0% 5% 0%;
            }
        }

        @include respond-to(sm) {
            font-size: 18px;

        }

        @include respond-to(md) {
            font-size: 20px;

            img {}
        }

        @include respond-to(lg) {
            font-size: 22px;
        }

        @include respond-to(xl) {
            font-size: 24px;
            justify-content: start;

            img {
                max-width: 50%;

            }

            .info-container {
                width: 50%;
                margin: 5% 0% 5% 0%;
            }
        }


        h1 {
            color: $plt-v8-b;
        }

        h2,
        h3 {
            color: $plt-v8-d;
        }

        li {
            color: $plt-v8-a;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.8em;
            margin-top: 0.5em;
        }

        ul {
            float: left;
        }

        li {
            font-size: 1.1em;
        }

        background-color: $plt-v8-e;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .jobs-box {
        background-color: $plt-v8-c;
        color: $plt-v8-a;

        h3 {
            padding: 20px;
            text-align: center;
        }
    }

    .job-items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .card {
            background-color: $plt-v8-d;
            padding: 20px;
            border-radius: 20px;
            margin: 15px;

            .title {
                font-size: 2em;
            }
        }
    }

    h1 {
        font-family: $font-v8-title;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-v8-subtitle;
    }

    p,
    span,
    label {
        font-family: $font-v8-text;
    }

    li {
        font-family: $font-v8-list;
    }

    footer{
        background-color: $plt-v8-e;
        color: $plt-v8-b;
        padding: 1em;
    }
}