@import 'colors';
@import 'fonts';
@import "scroll";
@import 'color_picker';

@import 'elements/main_container';
@import 'elements/header';
@import 'elements/personal_info.scss';
@import 'elements/about_me';
@import 'elements/education/container.scss';
@import 'elements/education/card.scss';
@import 'elements/me_photo.scss';
@import 'elements/skills.scss';


body {

    background-color: black;
}


%my-sm {
    margin-top: 3em;
    margin-bottom: 3em;
}
.my-sm{
    @extend %my-sm;
}
%black-card {
    padding: 10px;  
    border-radius: 10px;
    //border: 2px solid $plt-v8-a; 
    //background-color: rgba(0, 0, 0, 0.7);
}
.navegation-controll {
    position: fixed;
    right: 0;
    bottom: 0;
}

.up-svg{
    // position: absolute;
    background-color: white;
    // right: 0;
    // bottom: 0;
    margin-right: 1em;
    margin-bottom: 3em;
}
.down-svg{
    //position: absolute;
    background-color: white;
    // right: 0;
    // bottom: 0;
    margin-right: 3em;
    margin-bottom: 3em;
}
main{
    height: 100%;
    width: 100%;
}

.v8 {

    h1 {
        font-family: $font-v8-title;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-v8-subtitle;
    }

    p,
    span,
    label {
        font-family: $font-v8-text;
    }

    li {
        font-family: $font-v8-list;
    }

    footer {
        background-color: $plt-v8-e;
        color: $plt-v8-b;
        padding: 1em;
    }
}