@import 'colors';
@import 'fonts';
@import "scroll";
@import 'color_picker';

@import 'elements/main_container';
@import 'elements/header';
@import 'elements/personal_info.scss';
@import 'elements/about_me';
@import 'elements/education/container.scss';
@import 'elements/education/card.scss';


.v8 {

    h1 {
        font-family: $font-v8-title;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-v8-subtitle;
    }

    p,
    span,
    label {
        font-family: $font-v8-text;
    }

    li {
        font-family: $font-v8-list;
    }

    footer {
        background-color: $plt-v8-e;
        color: $plt-v8-b;
        padding: 1em;
    }
}