

.v8 {
    .personal-info {
        height: 100vh;
        
         
        @include flex($direction: collumn, $justify: center, $align: center, $gap: 0px);

        .info-container {
            @extend %black-card;
            width: 80%;
        }

        @include respond-to(xs) {
            font-size: 16px;

            ul {
                @include flex(row, start, center, 0.3em);
                margin-top: 0.5em;
            }

            img {
                max-width: 100%;
            }
        }

        @include respond-to(sm) {
            ul {
                @include flex(row, start, center, 0.8em);
                margin-top: 0.5em;
            }

        }

        @include respond-to(md) {
        }

        @include respond-to(lg) {
        }

        @include respond-to(xl) {
        }

        @include respond-to(xxl) {
        }


        h1 {
            color: $plt-v8-b;
        }

        h2,
        h3 {
            color: $plt-v8-a;
        }

        li {
            color: $plt-v8-d;
        }

        li {
            font-size: 1.1em;
        }

    }

}