
.light::-webkit-scrollbar {
    width: 12px;
    min-height: 2px;
    max-height: 2px;
}

.light::-webkit-scrollbar-track {
    background-color: black;
}

.light::-webkit-scrollbar-thumb {
    background-color: $plt-light-c;
}