.v8{
    .education-card {
         color: $plt-v8-b;
        .header {
 
            color: $plt-v8-d;
    
            span {
                margin: 0.5em;
                color: $plt-v8-a;
            }
        }
        .education-button {
            margin-top: 3%;
            color: $plt-v8-c;
    
        }
    }
}